
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one{
    border: 5px blue solid;
    padding: 5px;
    margin: 5px;
    position: fixed;
    left: 70%;
    top: 25%;
    width : 25%;
}
#two{
    border: 5px green solid;
    width : 25%;
    position: fixed;
    padding: 5px;
    margin: 5px;
    left: 70%;
    top: 5%;
}
#three{
    border: 5px orange solid;
    width : 25%;
    position: fixed;
    padding: 5px;
    margin: 5px;
    right: 70%;
    top: 5%;
}
#four{
    border: 5px yellow solid;
    width : 25%;
    position: fixed;
    padding: 5px;
    margin: 5px;
    right: 70%;
    top: 25%;
}
a{
    background: blue;
    padding: 2px;
    text-decoration: none;
    color: white;
    width: fit-content;
    display: block;
    margin: 3% auto;
}
