#message{
    /*background-image: url(/Photos/F1.png);*/
    font-family: "F1", sans-serif;
    width: 25%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    background-size: 100%;
    text-align: center;
    color: white;
    display: block;
    margin: 5% auto;
    padding: 12% 50px;
    font-size: 20px;
}
.img{
    width: 100%;
    display: flex;
    border: 5px solid black;
}
.img-link{
    width: 15%;
    display: flex;
}
#gallery{
    display: flex;
    justify-content: space-evenly;
}
@font-face {
    font-family: F1;
    src: url(/Fonts/Formula1-Wide.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}